<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset=""utf-8>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Bienvenido a MercadoLiebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/register-styles.css">
    </head>
    <body>
        <header>
            <section>
                <div class="top-header">
                    <div class="logo"> 
                        <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                    </div>
                    <form action="#" method="GET">
                        <input class="input" type="text" name="búsqueda" placeholder= "Buscar productos, marcas y más">
                        <input class="submit" type="submit"><i class="fa fa-search"></i>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                
            </section>
            <nav class="enlaces">
            <ul>   
                    <li> <a href ="#">Ofertas </a></li>
                    <li> <a href="#" >Tiendas Oficiales</a></li>
                    <li> <a href="#" >Vender </a></li>
                    <li> <a href="#" >Ayuda </a></li>
            </ul>
                
            <ul>
                    <li><a href= "#">Creá tu cuenta </a> <i class="far fa-address-card"></i></li>
                    <li><a href="#">Ingresá </a> <i class="fas fa-sign-in-alt"></i></i>       
                    <li> <a href="#"> Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                    </ul>
                </nav>
            
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                    </div>  
            </header>
        
        <section>
        <img class="banner" src="/images/img-home-banner.jpg">
        </section>
    <main class="form-register">
        <form action="/"  method="GET" class="form">
        <div class="name-user">
            <h4>Formulario de Registro</h4>
            <input type="text" name="name" placeholder="Nombre y Apellido">
            <input type="text" name="user" placeholder="Nombre de usuario" minlength="3">
            <input type="email" name="email" placeholder="E-mail">
            
        
            <h4>Fecha de nacimiento</h4>
            <input class= "date" type="date" name="birth_date" id="birth_date">
            <input class= "date" type="text" name="address" placeholder="Domicilio">
        </div>
            <h4 class="perfil">Perfil del usuario</h4>
        <div class="profile">
                <input class="buyer" type="radio" name="Profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input class= "seller" type="radio" name="Profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
        </div>
        
        <h4>Intereses</h4>
            <div class="checkbox">
            <input type="checkbox" name="interests"><label for="Electro">Electro </label>
            <input type="checkbox" name="interests"> <label for="Moda">Moda </label>
            <input type="checkbox" name="interests"> <label for="Hogar">Hogar </label>
            <div><input type="checkbox" name="interests"><label for="Juguetería">Juguetería </label>
            <input type="checkbox" name="interests"><label for="Vida sana">Vida sana </label>
            </div>
    
        <h4>Elegí tu foto de usuario</h4>
        <div class="pic"><input class="file" type="file" name= "avatar"></div>
        
    
        
    <div class="pass">
        <input type="password" name="pass" placeholder="Elegí tu contraseña">
        <input type="password" name="pass_ confirm" placeholder="Confirmá tu contraseña">
        <input class="submit" type="submit" value="Enviar">
        <input class="reset" type="reset" value="Borrar">
    </div>
    
    </form>
    </main>
    </body>
    <footer>
        <div class="elementos">
    <article>
    <i class="fas fa-credit-card"></i>
    <h3>Pagá con tarjeta o en efectivo </i></h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
    puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
    <i class="fas fa-gift"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
     productos. Es un beneficio de Mercado Puntos.</p>
    </article> 
    <article>
    <i class="fas fa-user-shield"></i>
    <h3>Seguridad de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegido.</p>
    </article>
    </div>
    <div class="copy">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
    </footer>
    
        
    </html>